@page
@model MyApp.Namespace.IndexModel
@{
}

<h1>Boas vindas.</h1>
<p>Selecione o serviço que gostaria de consultar:</p>
<ul>
    <li><a asp-page="DolarComercial">Dólar Comercial Histórico</a></li>
    <li>English With News</li>
</ul>